<link rel="stylesheet" href="/css/user.css">
<script src="/lib/ckeditor5/build/ckeditor.js"></script>


<div class="container mt-5">
    <div class="row product-heading">
        <h2>Sản phẩm của bạn</h2>
    </div>

    <div class="row add-product-btn mb-4">
        <div class="col-5 col-md-8">
            <a id="btn-link-add" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-addProduct">
                Thêm sản phẩm mới</a>
        </div>

        <div class="col-7 col-md-4">
            <form action="quan-ly-san-pham" method="get" class="">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nhập từ khóa tìm kiếm" name="timkiem">
                    <button class="btn btn-primary" type="submit">Tìm Kiếm</button>
                </div>
            </form>
        </div>
    </div>



    <div class="row">
        {{#each product}}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card product-card">
                <img src="{{this.Images}}" class="card-img">
                <div class="card-body">
                    <p class="card-title">{{this.Productname}}</p>
                    <div class="card-btn">
                        <a href="/san-pham/{{this.Slugs}}" class="btn btn-primary">Xem hàng</a>
                        <a class="btn-link-edit btn btn-info" prd="{{this.Id}}">Chỉnh Sửa</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-addProduct" currentprd="" tabindex="-1" aria-labelledby="titleModel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h5 class="modal-title" id="titleModel">Thêm sản phẩm mới</h5>
            </div>
            <div class="modal-body">
                <!-- Form để nhập dữ liệu -->
                <form>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="productName" class="form-label">Tên sản phẩm:</label>
                            <input type="text" class="form-control" id="productName" placeholder="Nhập tên sản phẩm"
                                onkeyup="ChangeToSlug()">
                            <input type="text" class="form-control d-none" id="productSlug" placeholder="slug">
                            <div class="invalid-feedback">Vui lòng nhập tên sản phẩm</div>
                        </div>
                        <div class="col-3">
                            <label for="price" class="form-label">Giá bán:</label>
                            <input type="number" class="form-control" id="price" placeholder="Nhập giá bán">
                            <div class="invalid-feedback">Vui lòng nhập giá bán</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-auto">
                            <label for="image" class="form-label">Chọn hình ảnh:</label>
                            <input type="file" class="form-control" id="image" accept="image/*">
                            <div class="invalid-feedback">Vui lòng chọn hình ảnh</div>
                        </div>
                        <div class="col">
                            <label for="category" class="form-label">Danh mục sản phẩm:</label>
                            <select class="form-select" id="category">
                                {{#each category}}
                                <option value="{{this.Id}}">{{this.CategoryName}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-3">
                            <label for="price" class="form-label">Số lượng:</label>
                            <input type="number" class="form-control" id="quantity" placeholder="Nhập số lượng"
                                value="1">
                            <div class="invalid-feedback">Vui lòng nhập số lượng</div>
                        </div>

                    </div>
                    <div>
                        <label for="editor" class="form-label">Mô tả sản phẩm:</label>
                        <div id="toolbar-container"></div>
                        <div id="editor"></div>
                        <div class="invalid-feedback">Vui lòng nhập mô tả sản phẩm</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">

                <div class="row w-100 align-items-center">


                    <div class="col ps-0">
                        <div class="tag-input border">
                            <div class="tags"></div>
                            <input type="text" id="tagInput" placeholder="Thêm nhãn tìm kiếm">
                        </div>
                    </div>

                    <div id="divbtnDelete" class="col-auto">
                        <button id="btnDelete" type="button" class="btn btn-danger">Xoá sản phẩm</button>
                    </div>

                    <div class="col-auto pe-0">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button id="btnAdd" type="button" class="btn btn-success">Thêm</button>
                        <button id="btnSave" type="button" class="btn btn-primary d-none">Lưu</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', function () {

    });
</script>



<script>
    // Khởi tạo ckeditor
    var initialContent;
    var editor;

    DecoupledEditor
        .create(document.querySelector('#editor'))
        .then(createdEditor => {
            const toolbarContainer = document.querySelector('#toolbar-container');

            toolbarContainer.appendChild(createdEditor.ui.view.toolbar.element);

            // Lưu giá trị ban đầu của CKEditor và instance CKEditor
            initialContent = createdEditor.getData();
            editor = createdEditor;
        })
        .catch(error => {
            console.error(error);
        });
</script>

<script src="/js/user.js"></script>